#
#

*.pyc
*.o
a.out
say_hello*
myctf.zip
myconfig.zip
ctf-sqli/mysql/init_db_mccoy.sql
*.db


challenges_list.cfg
web_server/.env
web_server/www_site/yoloctf/*.custom.php
web_server/www_site/yoloctf/db/*
web_server/www_site/yoloctf/uploads/*
web_server/www_site/yoloctf/intro/*

web_server/traefik/certs/*
web_server/mysql/init_db_ctf.sql
web_server/mysql-data/*

tools/xterm/xterm.js-3.13.0/*
tools/xterm/challenges/*
tools/xterm/ctf-tool-xterm/challenges/*
tools/xterm/dirb/dirb222/*
tools/vagrant-boxes/.vagrant
ctfd_config/tmp/*
.vscode
.env
ctf-*/.env
ctfd_config/db
ctfd_config/uploads
install.log
mon_premier_ctf

web_server/www_site/yoloctf/html5/*
web_server/www_site/yoloctf/html5b

tools/ctf-mitm/mitmproxy-5.0.1
tools/ctf-mitmweb/mitmproxy-5.0.1

ctf-training/ctf-sqli/mysql/init_db_mccoy.sql

ctf-training/ctf-fileupload/www_site/upload/*


YoloHackersGuide